.container > nav{
    padding: 2%;
    background-color: #904040;
    border-bottom: 1px solid whitesmoke;
}

.container > nav > form > ul{
    list-style-type: none;
}

.container > nav > form > ul > li {
    display: inline-block;
    padding-right: 1%;
}

.container > nav > form > ul > li > input[type=submit]{
    background-color: #904040;
    border: #904040;
}

.container > nav > form > ul > li > input{
	text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: medium;
    color: whitesmoke;
}


.container > nav > form > ul > li > input:hover{
    font-size: large;
}

.container > section{
    padding: 4%;
    text-align: left;
    align-items: center;
}

.card{
    margin: auto;
    border: 2px solid rgb(180, 177, 177);
    box-shadow: 2px 2px 5px whitesmoke;
    border-radius: 40px;
    padding: 2%;
    width: 80%;
}

.procuraProduto{
    margin: auto;
    border: 2px solid rgb(180, 177, 177);
    box-shadow: 2px 2px 5px whitesmoke;
    border-radius: 40px;
    padding: 3%;
    width: 50%;
}

.procuraProduto > p{
    width: 60%;
}

.card-group > label{
    display: block;
    padding-bottom: 1%;
    font-size: large;
    color: whitesmoke;
    text-align: left;
    font-weight: bold;
}

.card-group > input[type=text]{
    align-self: flex-end;
    min-width: 30%;
    max-width: 70%;
    width: 50%;
    border-radius: 10px;
    max-height: 40px;
    min-height: 10px;
    font-size: 12pt;
    padding: 3px;
}

#btLocaliza{
    border-radius: 10px;
    width: 23%;
    height: 2%;
    font-size: 12pt;
    padding: 2%;
    cursor: pointer;
    color: white;
    background-color: #0569DA;
    margin-top: 1%;
    font-weight: bold;
}

#btLocaliza:hover{
    opacity: 0.8;
    font-size: 13pt;
}


#btListar{
    border-radius: 10px;
    width: 26%;
    height: 2%;
    font-size: 12pt;
    padding: 2%;
    cursor: pointer;
    color: white;
    background-color: #0569DA;
    margin-top: 2%;
    font-weight: bold;
}

#btListar:hover{
    opacity: 0.8;
    font-size: 13pt;
}

#btCadastrar{
    background-color: #148497;
    border-radius: 10px;
    width: 34%;
    height: 2%;
    font-size: 10pt;
    padding: 2%;
    cursor: pointer;
    color: white;
    margin-top: 2%;
    margin-left: 5%;
    font-weight: bold;
}

#btCadastrar:hover{
    opacity: 0.8;
    font-size: 11pt;
}


.esp{
    width: 40%;
    white-space: nowrap;
}

.tam{
    font-size: 15pt;
}


table{
    margin: auto;
    padding: 5%;
}

th{
    text-align: center;
    color: whitesmoke;
    font-size: 13pt;
    font-variant: small-caps;
    border-bottom: 2px solid #ddd;
}


tbody > tr > td{
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 12pt;
    color: wheat;
}

.acoes{
    border-radius: 10px;
    font-size: 10pt;
    padding: 10%;
    cursor: pointer;
    color: white;
    background-color: #148497;
    margin-bottom: 5%;
    font-weight: bold;
}

.acoes:hover{
    opacity: 0.8;
    font-size: 11pt;
}


.rolagem{
	overflow-y: auto;
    height: 40vh;
    margin-top: 4%;
    width: 100%;
}






